.content-loans{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 22px;
    row-gap: 50px;
    margin-bottom: 130px;
    .book{
        height: 210px;
        box-shadow: 0.5px 1px 4.5px rgba($color: #000, $alpha: .16);
        border-radius: 10px;
        display: grid;
        grid-template-columns: 140px 1fr;
        cursor: pointer;
        img{
            width: 140px;
            border-radius: 10px;
            height: 210px;
            box-shadow: 0.5px 1px 4.5px rgba($color: #000, $alpha: .23);
        }
        section:nth-child(2){
            position: relative;
            padding: 10px 15px 10px 30px;
            h3{
                font-size: 17px;
                font-weight: 550;
                letter-spacing: .8px;
                color: #333;
                margin-top: 10px;
            }
            p{
                font-size: 15px;
                letter-spacing: .5px;
                font-weight: 450;
                color: #666;
                margin: 0;
            }
            button{
                position: absolute;
                bottom: 25px;
                left: 20%;
                width: 60%;
                height: 30px;
                border-radius: 5px;
                background: #475679;
                color: #fff;
                font-size: 16px;
                font-weight: 560;
                border: none;
                opacity: 0.9;
                cursor: pointer;
                &:hover{
                    opacity: 1;
                }
            }
        }
        &:hover{
            section:nth-child(1) img{
                transition: .3s;
                transform: scale(1.05);
                box-shadow: 0.5px 1px 5px rgba($color: #000, $alpha: .5);
            }
        }
    }
    @media (max-width: 1570px) {
        grid-template-columns: repeat(3, 1fr);
    }

    .withoutLoans{
        font-size: 30px;
        font-weight: 500;
        color: #666;
        letter-spacing: 1.2px;
        margin: 30px 30px;
        width: 500px;
    }
}