img{
    margin-top: 90px;
    max-width: 100%;
    border-radius: 5px;
}
h2.subtitle-home{
    font-size: 22px;
    font-weight: 520;
    letter-spacing: 1px;
    margin-top: 25px;
    color: #444;
}